<%= provide :title, t(".title") %>
<div class="container">
  <div class="row">
    <h1><%= t ".project_info" %></h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3><%= t ".name" %>: <%= t ".person_name_one" %></h3>
      <p><%= t ".email" %>: <%= t ".person_email_one" %></p>
      <p><%= t ".address" %>: <%= t ".person_address_one" %></p>
    </div>
    <div class="col-md-6 col-xs-12">
      <h3><%= t ".name" %>: <%= t ".person_name_two" %></h3>
      <p><%= t ".email" %>: <%= t ".person_email_two" %></p>
      <p><%= t ".address" %>: <%= t ".person_address_two" %></p>
    </div>
  </div>
</div>
