<% provide :title, t(".title") %>
<div class="home" id="home">
<% unless logged_in? %>
  <div class="slide">
    <%= image_tag "silde.jpg" %>
    <div class="slide-content">
      <h1><%= t ".slide_title" %></br>
        <%= t ".silde_title_join" %></h1>
      <%= link_to t(".start_learn"), "#", :class => "btn btn-blue btn-slide" %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="box box-primary" id="home-user-box">
          <div class="box-body box-profile">
            <%= render "shared/user_info" %>
            <%= render "shared/stats" %>
            <%= link_to t(".study"), "#", class: "btn btn-primary btn-block" %>
            <%= link_to t(".words"), words_path, class: "btn btn-success btn-block" %>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="nav-tabs-custom">
          <div class="feed_title">
            <h2><%= t ".feed_title" %></h2>
          </div>
          <div class="tab-content">
            <div class="table-responsive">
               <table class="table table-striped">
                 <tbody>
                   <tr>
                   </tr>
                 </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
