<% provide :title, t(".title") %>
<div class="home" id="home">
<% unless logged_in? %>
  <div class="slide">
    <%= image_tag "silde.jpg" %>
    <div class="slide-content">
      <h1><%= t ".slide_title" %></br>
        <%= t ".silde_title_join" %></h1>
      <%= link_to t(".start_learn"), "#", :class => "btn btn-blue btn-slide" %>
    </div>
  </div>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <%= render "shared/user_info" %>
            <%= render "shared/stats" %>
            <%= link_to t(".study"), "#", class: "btn btn-primary btn-block" %>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-xs-12">

      </div>
    </div>
  </div>
</div>
<% end %>
