<%= provide :title, t(".title") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-list-alt fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @supports.categories_count %></div>
            <div><%= t ".categories" %></div>
          </div>
        </div>
      </div>
      <%= link_to admin_categories_path do %>
        <div class="panel-footer">
          <span class="pull-left"><%= t ".view_details" %></span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
   <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-file-word-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @supports.words_count %></div>
            <div><%= t ".words" %></div>
          </div>
        </div>
      </div>
      <%= link_to admin_words_path do %>
        <div class="panel-footer">
          <span class="pull-left"><%= t ".view_details" %></span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
   <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-address-card-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @supports.lessons_count %></div>
            <div><%= t ".lessons" %></div>
          </div>
        </div>
      </div>
      <a href="#">
        <div class="panel-footer">
          <span class="pull-left"><%= t ".view_details" %></span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
   <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @supports.users_count %></div>
            <div><%= t ".users" %></div>
          </div>
        </div>
      </div>
      <%= link_to admin_users_path do %>
        <div class="panel-footer">
          <span class="pull-left"><%= t ".view_details" %></span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
<%= column_chart [
  {name: "User", data: @supports.users_by_day},
  {name: "Category", data: @supports.categories_by_day},
  {name: "Word", data: @supports.words_by_day},
  {name: "Lesson", data: @supports.lessons_by_day}] %>
</div>
