<tr>
  <td><%= increase_index @categories, index %></td>
  <td><%= category.words.size > 0 ? category.words.size : 0 %></td>
  <td><%= category.name %></td>
  <td>
    <%= category.description %>
  </td>
  <td><%= category.created_at %></td>
  <td class="action">
    <%= link_to  edit_admin_category_path(category), class: "btn btn-success btn-round" do %>
      <i class="fa fa-pencil"></i>
    <% end %>
    <%= link_to admin_category_path(category), class: "btn btn-danger btn-round",
      method: :delete, data: {confirm: t("confirm")} do %>
        <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
