<%= form_for [:admin, @user], html: {class: "form-signup"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-title">
    <h2>
      <span class="text"><%= yield :form_title %></span>
    </h2>
  </div>
  <div class="form-group">
    <%= f.label :name do %>
      <%= t ".name" %> <span>*</span>
    <% end %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email do %>
      <%= t ".email" %> <span>*</span>
    <% end %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :passowrd do %>
      <%= t ".password" %> <span>*</span>
    <% end %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation do %>
      <%= t ".password_confirmation" %> <span>*</span>
    <% end %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
