<tr>
  <td><%= increase_index @users, index %></td>
  <td><%= user.name %></td>
  <td>
    <%= user.email %>
  </td>
  <td><%= user.created_at %></td>
  <td class="action">
    <%= link_to user_path(user), class: "btn btn-info btn-round" do %>
      <i class="fa fa-eye"></i>
    <% end %>
    <%= link_to admin_user_path(user), class: "btn btn-danger btn-round",
      method: :delete, data: {confirm: t("confirm")} do %>
        <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>
