<%= provide :title, t(".title") %>
<%= provide :add_button_text, t(".add_user") %>
<%= provide :add_link, new_admin_user_path %>
<div class="row">
  <div class="">
    <%= form_for categories_path, method: :get,
      class: "search_form_category" do %>
        <%= render "admin/shared/search_form" %>
    <% end %>
  </div>
  <div class="col-md-12 col-xs-12">
    <p><b><%= @users.count %></b> <%= t ".users" %></p>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
         <thead>
           <tr>
             <th>#</th>
             <th><%= t ".name" %></th>
             <th><%= t ".email" %></th>
             <th><%= t ".created" %></th>
             <th><%= t ".action" %></th>
           </tr>
         </thead>
         <tbody>
           <% if @users.any? %>
             <% @users.each_with_index do |user, index| %>
               <%= render user, index: index %>
             <% end %>
           <% else %>
             <div class="alert alert-warning">
               <%= t ".not_found_categories" %>
             </div>
           <% end %>
         </tbody>
      </table>
    </div>
    <p class="text-center"><%= will_paginate @users %></p>
  </div>
</div>
